<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notr: Register</title>
    <!-- GF: -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSSR: -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- MCSS: -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">   
    <!-- OCSS -->
    <link rel="stylesheet" href="../../public/assets/css/index.css">
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="./index.html"><span><img src="../../public/assets/imgs/logow-1x.png"></span></a></li>
                <li><a href="./index.html">Notr</a></li>
                <li></li>
                <li><a class="button" href="./log-in.html">Log in</a></li>
            </ul>
        </nav>

        <div class="container">
            
        </div>
    </main>
</body>
</html>